---
import Layout from "../../layouts/Layout.astro";

import goods from "../../data/goods.json";
export const getStaticPaths = async() => {
  return goods.map(({ url }) => {
    return {
      params: { product : url },
    }
  });
};
const { product } = Astro.params;
const goodsData = goods.find(({url}) => product === url);

---

<Layout>

    <div class="goods goods__inner">
    <img class="goods__image" src=`/images/${goodsData.itemphotos[0]}`>
  <div class="goods_text">
    <p class="goods__name">{goodsData.name}</p>
    <p class="goods__price">{goodsData.price}</p>
  </div>
  </div>
</Layout>