---
import Layout from '../layouts/Layout.astro';
import Goodscard from '../components/goodsJsonCard.astro';
import { getCollection } from 'astro:content';


---

<Layout>
<main>
  <main class="main">
    <div class="main__inner">
    <h2 class="main__title">商品一覧</h2>
    <Goodscard />
  </div>
  </main>
</Layout>