@charset "UTF-8";
body {
  position: relative;
  font-family: "Noto Sans";
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.header {
  position: relative;
  background: url("/02_ecsite/images/mainvisu.png") center center/cover no-repeat;
  padding-top: 30px;
  width: 100vw;
  height: 100vh;
  margin-bottom: 100px;
}
.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.header__title {
  font-size: 36px;
  color: #000;
  z-index: 2;
}
.header__titdeco {
  color: #fff;
}
.header__inner {
  width: 86.11%;
  margin: 0 auto;
  padding: 0;
}
.header__all {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav {
  z-index: 2;
  display: flex;
}
.nav__home {
  width: 30px;
  margin-right: 20px;
}
.nav__cart {
  width: 30px;
}

.main__title {
  font-size: 28px;
  text-align: center;
  margin: 0 auto 80px;
}
.main__inner {
  width: 86.11%;
  margin: 0 auto;
  padding: 0;
}

.card {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 5px;
}
@media screen and (min-width: 400px) {
  .card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 100px;
  }
}
.card__all {
  max-width: 300px;
}
.card__all:hover {
  color: #f00;
}
.card__title {
  margin-top: 20px;
  font-weight: bold;
  font-size: 20px;
  color: #000;
}
.card__text {
  font-size: 16px;
  letter-spacing: 0.1em;
  line-height: 1.6;
  color: #000;
  margin-top: 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* 任意の行数を指定 */
  line-clamp: 3;
}
.card__mask {
  position: relative;
  overflow: hidden;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  max-width: 300px;
  height: auto;
}
.card__image {
  -o-object-fit: contain;
     object-fit: contain;
}
.card__state {
  position: absolute;
  bottom: 34px;
  display: inline-block;
  margin-top: 20px;
  background-color: #f00;
  color: #fff;
  padding: 4px 8px;
}
.card__price {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 16px;
  letter-spacing: 0.1em;
  line-height: 1.6;
  background-color: #0033ac;
  color: #fff;
  padding: 4px 8px;
}
@media screen and (min-width: 400px) {
  .card .card__state {
    position: absolute;
    bottom: 33px;
  }
}

.footer {
  padding-bottom: 50px;
}
.footer__inner {
  width: 86.11%;
  margin: 0 auto;
  padding: 0;
}
.footer__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  margin: 70px 0 36px auto;
}
.footer__home {
  width: 30px;
}
.footer__x {
  width: 30px;
}
.footer__ins {
  width: 30px;
}
.footer__copy {
  text-align: center;
  font-size: 14px;
}

.goods__inner {
  width: 86.11%;
  margin: 0 auto;
  padding: 0;
}
.goods__image {
  margin: 0 auto;
}
.goods__textall {
  line-height: 1.7;
  margin-top: 30px;
  font-size: 18px;
}
.goods__name {
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 0.09em;
}
.goods__price {
  margin-top: 30px;
  color: #f00;
  font-size: 20px;
  font-weight: bold;
}
.goods__count {
  margin-top: 80px;
  display: flex;
  align-items: center;
}
.goods__countnum {
  margin: 0 20px;
}
.goods__plus {
  padding: 3px 10px;
  font-size: 18px;
  margin-right: 50px;
}
.goods__minas {
  padding: 3px 15px;
  font-size: 18px;
}
.goods__slide {
  margin: 20px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 72.7%;
}
.goods__slideimg {
  border: #000 2px solid;
  width: 20%;
  height: auto;
}
@media screen and (min-width: 400px) {
  .goods {
    display: flex;
    justify-content: space-between;
  }
  .goods .goods__left {
    width: 42%;
  }
  .goods .goods__slide {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 72.7%;
  }
  .goods .goods__slideimg {
    border: #000 2px solid;
    width: 20%;
    height: auto;
  }
  .goods .goods__image {
    margin: 0;
    width: 100%;
    height: auto;
    max-width: 600px;
  }
  .goods .goods__textall {
    width: 50%;
  }
  .goods .goods__text {
    margin-top: 30px;
  }
}
/*# sourceMappingURL=style.css.map */